/* /* dit betekent VANAF DUS met andere woorden zodra ik boven 576px kom laat ie de shirt zien dat is MIN-WIDTH EN MAX WIDTH IS ALS HIJ MAXIMALE WIDTH 576 OF ONDER IS DAN PAKT IE DE SHIRT */
@media (max-width: 576px) {
  .img {
    width: 100%;
    height: auto;
  }
  .text {
    text-align: left;
    padding-top: 30rem;
    padding-right: 60rem;
  }
  .work {
    visibility: collapse;
  }
  .home {
    visibility: collapse;
  }
  .contact {
    visibility: collapse;
  }
  .studio {
    visibility: collapse;
  }
  .test-paragraph {
    /* margin-left: 55vw; */
    /* padding-top: 4rem;
    font-size: 1.5rem; */
    /* padding-right: 10rem; */

    text-align: left;
    position: relative;
    /* max-width: 100%; */
    /* height: auto; */
    /* z-index: -1; */
  }
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar {
    visibility: collapse;
  }

  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .navbar {
      visibility: collapse;
    }
  }

  /* // X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .navbar {
      visibility: collapse;
    }
  }

  /* // XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) {
    .navbar {
      visibility: collapse;
    }
    .work {
      padding-bottom: 20rem;
    }
  }
}
