@font-face {
  font-family: formular-light;
  src: url(./typographie/Formular-Light.ttf);
}
/* entire page settings */
* {
  padding: 0;

  margin: 0;

  box-sizing: border-box;

  font-family: formular-light;
}
/* link settings the work-contact-studio words */
a {
  text-decoration: none;
  color: #303130;
  font-size: 2rem;
}
.text-color {
  color: #d5dad0;
}
/* work links from apartment amsterdam and coming soon font sizes */
.fonta {
  font-size: 1.3rem;
}
/* css for the gif */
#loader {
  transition-timing-function: ease-in-out;
  transition: 1s;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  overflow: visible;
  background: #fff url("./images/testgif.gif") no-repeat center center;
}
.img {
  object-fit: cover;
}

.nav-link {
  z-index: 1000;
}

.home:hover {
  color: #313130;
}

.work:hover {
  color: #313030;
}

.work2:hover {
  color: #313130;
}

.studio:hover {
  color: #313130;
}

.contact-number {
  color: #313130;
}
/* for the hover effect */
.contact .contact-number {
  opacity: 0;
  position: absolute;
  right: 1rem;
  transition-duration: 0.3s;
}
.contact:hover .contact-text {
  opacity: 0;
  transition-duration: 2s;
}

.contact:hover .contact-number {
  opacity: 1;
  transition-duration: 2s;
}
/* ---------------------------------------
  carousel
  ---------------------------------------- */
.carousel-caption {
  text-align: start;
  padding-left: 768px;
  padding-top: 2rem;
}
/* icon instead of arrows on the carousel (left icon) */
.carousel .carousel-control-prev-icon {
  background-image: url(./images/linewhite.png);
  height: 4.5rem;
  width: 2rem;
  margin-right: 10rem;
}
/* icon instead of arrows on the carousel (right icon) */
.carousel .carousel-control-next-icon {
  background-image: url(./images/linewhite.png);

  height: 4.5rem;
  width: 2rem;
  margin-left: 10rem;
}
/* bottom indicators changing height and width */
.carousel-indicators [data-bs-target] {
  width: 3rem;
  height: 0.1rem;
}
/* p {
  color: #313130;
  text-shadow: white 0px 0px 0px;
} */

h3 {
  color: #313130;
}
/* this is for positioning of the projects in work section */
.project-paragraph {
  margin-left: 5rem;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
p.project-paragraph:hover a {
  color: #ccc;
}
a.projectone,
p.project-paragraph a.projectone:hover {
  color: #303130;
  transition-duration: 0.8s;
}

a.projectone {
  transition-duration: 1s;
}

a.projecttwo,
p.project-paragraph a.projecttwo:hover {
  color: #303130;
  transition-duration: 0.8s;
}

a.projecttwo {
  transition-duration: 1s;
}
a.projectthree,
p.project-paragraph a.projectthree:hover {
  color: #303130;
  transition-duration: 0.8s;
}

a.projectthree {
  transition-duration: 1s;
}

a.projectfour,
p.project-paragraph a.projectfour:hover {
  color: #303130;
  transition-duration: 0.8s;
}

a.projectfour {
  transition-duration: 1s;
}

a.projectfive,
p.project-paragraph a.projectfive:hover {
  color: #303130;
  transition-duration: 0.8s;
}

a.projectfive {
  transition-duration: 1s;
}
/* ----------------------------------
mobile phone
------------------------------------- */
@media (max-width: 570px) {
  .sticky-position-work {
    position: fixed !important;
    bottom: -3px;
  }
  .sticky-position-studio {
    position: fixed !important;
    top: -3px;
  }
  .sticky-position-contact {
    position: fixed !important;
    bottom: 10%;
  }
  .sticky-position-home {
    position: fixed !important;
    bottom: 90%;
  }
  /* icon instead of arrows on the carousel (left icon) */
  .carousel .carousel-control-prev-icon {
    background-image: url(./images/linewhite.png);
    height: 4.5rem;
    width: 2rem;
    margin-right: 0rem;
  }
  /* icon instead of arrows on the carousel (right icon) */
  .carousel .carousel-control-next-icon {
    background-image: url(./images/linewhite.png);
    height: 4.5rem;
    width: 2rem;
    margin-left: 0rem;
  }
  /* this is for carousel title on mobile */
  .d-md-block {
    display: block !important;
  }
  /* for mobile version to remove pictures */
  .img-gone {
    display: none;
  }
  /* for mobile version to adjust text in middle */
  .mobile-text {
    padding-left: 4rem;
    margin-top: 10rem;
  }
}
/* to make a box around the paragraphs */
.test-paragraph {
  width: 37.5rem;
  max-width: 80%;
  height: 37.5rem;
  overflow-y: scroll;
}
/* to remove the scroll bars left and right */
.test-paragraph::-webkit-scrollbar {
  /* display: none; */
}
