@font-face {
  font-family: formular-light;
  src: url(./typographie/Formular-Light.ttf);
}
/* entire page settings */
* {
  padding: 0;

  margin: 0;

  box-sizing: border-box;

  font-family: formular-light;
}
/* link settings the work-contact-studio words */
a {
  text-decoration: none;
  color: #303130;
  font-size: 2rem;
}
.text-color {
  color: #303130;
}
.text-color-black {
  color: #222;
}
/* work links from apartment amsterdam and coming soon font sizes */
.fonta {
  font-size: 1.2rem;
}
/* css for the gif */
#loader {
  transition-timing-function: ease-in-out;
  transition: 1s;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  overflow: visible;
  background: #fff url("./images/testgif.gif") no-repeat center center;
}
.img {
  object-fit: cover;
}

.nav-link {
  z-index: 1000;
}

.home:hover {
  color: #313130;
}

.work:hover {
  color: #313030;
}

.work2:hover {
  color: #313130;
}

.studio:hover {
  color: #313130;
}

.contact-number {
  color: #313130;
}
/* for the hover effect */
/* .contact .contact-number {
  opacity: 0;
  position: absolute;
  right: 1rem;
  transition-duration: 0.3s;
}
.contact:hover .contact-text {
  opacity: 0;
  transition-duration: 2s;
}

.contact:hover .contact-number {
  opacity: 1;
  transition-duration: 2s;
} */
/* ---------------------------------------
  carousel
  ---------------------------------------- */
.carousel-caption {
  text-align: start;
  padding-left: 768px;
  padding-top: 2rem;
}
/* icon instead of arrows on the carousel (left icon) */
.carousel .carousel-control-prev-icon {
  background-image: url(./images/linewhite.png);
  height: 4.5rem;
  width: 1px;
  margin-left: -10rem;
  background: #303130;
}
/* icon instead of arrows on the carousel (right icon) */
.carousel .carousel-control-next-icon {
  background-image: url(./images/linewhite.png);
  height: 4.5rem;
  width: 1px;
  margin-left: 10rem;
  background: #303130;
}
/* bottom indicators changing height and width */
.carousel-indicators [data-bs-target] {
  width: 4rem;
  height: 0.05rem;
  margin-right: 1rem;
  background-color: #222;
}
/* p {
  color: #313130;
  text-shadow: white 0px 0px 0px;
} */

h3 {
  color: #313130;
}
/* this is for positioning of the projects in work section */
.project-paragraph {
  margin-left: 5rem;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
p.project-paragraph:hover a {
  color: #d5dad0;
}
a.projectone,
p.project-paragraph a.projectone:hover {
  color: #303130;
  transition-duration: 0.8s;
}

a.projectone {
  transition-duration: 1s;
}

.fade-in {
  transition-duration: 1s;
}

/* to show pictures left */
#links IMG {
  display: none;
  position: fixed;
  left: 0px;
  bottom: 0px;
}

/* ----------------------------------
mobile phone
------------------------------------- */
@media (max-width: 570px) {
  .sticky-position-work {
    position: fixed !important;
    bottom: -3px;
  }
  .sticky-position-studio {
    position: fixed !important;
    top: -3px;
  }
  .sticky-position-contact {
    position: fixed !important;
    bottom: 10%;
  }
  .sticky-position-home {
    position: fixed !important;
    bottom: 90%;
  }
  /* icon instead of arrows on the carousel (left icon) */
  .carousel .carousel-control-prev-icon {
    background-image: url(./images/linewhite.png);
    height: 4.5rem;
    width: 1px;
    margin-left: -10rem;
    background: #303130;
  }
  /* icon instead of arrows on the carousel (right icon) */
  .carousel .carousel-control-next-icon {
    background-image: url(./images/linewhite.png);
    height: 4.5rem;
    width: 1px;
    margin-left: 10rem;
    background: #353635;
  }
  /* this is for carousel title on mobile */
  .d-md-block {
    display: block !important;
  }
  /* for mobile version to remove pictures */
  .img-gone {
    display: none;
  }
  /* for mobile version to adjust text in middle */

  .mobile-text-title {
    padding-left: 4rem;
    margin-top: 15rem;
  }
  .mobile-text {
    padding-left: 4rem;
    margin-top: 0rem;
  }
}
/* to make a box around the paragraphs */
.test-paragraph {
  width: 37.5rem;
  max-width: 80%;
  height: 37.5rem;
  overflow-y: scroll;
}
/* to remove the scroll bars left and right */
.test-paragraph::-webkit-scrollbar {
  display: none;
}

/* to make a box around the credentials */
.middle-paragraph {
  overflow-y: scroll;
}
/* to remove the scroll bars left and right */
.middle-paragraph::-webkit-scrollbar {
  display: none;
}

/* links to articles in credentials */
a.article {
  font-size: 1rem;
}

a.article:hover {
  color: #d5dad0;
}

/* link to mail */
a.email-link {
  font-size: 1rem;
  text-decoration: underline;
}

a.email-link:hover {
  color: #d5dad0;
}

/* adjust position for the text in center */
.contact-position {
  margin-top: -35rem;
  margin-left: 60rem;
}

/* backgroundimage for contact page */
.bg {
  /* The image used */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 0;
}

.page2-project {
  margin-left: 2rem;
  margin-top: 10rem;
}
